.activities {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

.container {
  background-color: #f7f7f7;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 2.81rem;
  text-align: center;
  line-height: 2.81rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

.header p {
  color: #ff4081;
  font-weight: bold;
  font-size: 1.13rem;
}

.activities {
  margin-top: 3.5rem;
}

.activitiesItem {
  margin-top: 2rem;
}

.activities a {
  display: block;
  width: 100%;
  background-color: #ffffff;
  margin-top: 1rem;
}

.activitiesItem a>div {
  padding: 1rem;
  position: relative;
}



.activitiesItem img {
  width: 100%;
  height: 100%;
}

.activitiesItem .mark {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 0;
  height: 0;
  padding: 0;
  border-top: 0 solid transparent;
  border-left: 1.5rem solid #ff4081;
  border-bottom: 1.5rem solid transparent;
  z-index: 2;
}

.activities .activitiesInfo {
  color: #ea729b;
  padding: .5rem 1rem;
}

.activitiesItem .activitiesInfo {
  display: flex;
}

.activitiesInfo .activitiesTitle {
  flex: 6;
}

.activitiesInfo .activitiesDate {
  flex: 3;
  text-align: right;
}
