<div class="activites">
  <div class="container">
    <div class="header">
      <p>Style VIP</p>
    </div>
    <div class="activitesItem">
      <a href="javascript:;">
        <div></div>
      </a>
    </div>




<!-- 底部导航 -->
<div class="footerNav">
  <div class="salon">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-licaijingxuan"></use>
    </svg>
    <p>精选沙龙</p>
  </div>
  <div class="works">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-tupian"></use>
    </svg>
    <p>潮流作品</p>
  </div>
  <div class="activity">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-shoucang"></use>
    </svg>
    <p>活动专区</p>
  </div>
  <div class="mall">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-icon-test"></use>
    </svg>
    <p>VIP商城</p>
  </div>
  <div class="mine">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-wode-F"></use>
    </svg>
    <p>我的</p>
  </div>
</div>

<!-- 返回顶部功能 -->
<div class="goTop">
  <svg class="icon" aria-hidden="true">
    <use xlink:href="#icon-4fanhuidingbubai"></use>
  </svg>
</div>
  </div>
</div>
