<div class="activities">
  <div class="container">
    <div class="header">
      <p>Style VIP</p>
    </div>

    <!-- 活动列表 -->
    <div class="activitiesItem">
      <a href="javascript:;">
        <div>
          <img src="@/assets/img/demo.jpg">
          <div class="mark"></div>
        </div>
        <div class="activitiesInfo">
          <div class="activitiesTitle">慕名时尚·齐鲁绽放专题促销</div>
          <div class="activitiesDate">10/11-11/11</div>
        </div>
      </a>
      <a href="javascript:;">
        <div>
          <img src="@/assets/img/img.png">
          <div class="mark"></div>
        </div>
        <div class="activitiesInfo">
          <div class="activitiesTitle">慕名时尚·齐鲁绽放专题促销</div>
          <div class="activitiesDate">10/11-11/11</div>
        </div>
      </a>
      <a href="javascript:;">
        <div>
          <img src="@/assets/img/demo.jpg">
          <div class="mark"></div>
        </div>
        <div class="activitiesInfo">
          <div class="activitiesTitle">慕名时尚·齐鲁绽放专题促销</div>
          <div class="activitiesDate">10/11-11/11</div>
        </div>
      </a>
      <a href="javascript:;">
        <div>
          <img src="@/assets/img/img.png">
          <div class="mark"></div>
        </div>
        <div class="activitiesInfo">
          <div class="activitiesTitle">慕名时尚·齐鲁绽放专题促销</div>
          <div class="activitiesDate">10/11-11/11</div>
        </div>
      </a>
    </div>

    <footer-nav></footer-nav>

    <backToTop></backToTop>
  </div>
</div>
