<div class="mall">
  <!-- 商城头部 -->
  <div class="header">
    <p>Style VIP</p>
    <input type="button" value="< 返回" >
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-gouwuche"></use>
    </svg>
  </div>
  <!-- 主体内容区域 -->
  <div class="main">


  </div>


  <!-- 商城底部导航 -->
  <div class="footerMall">
    <div class="homeMall">
      <span>商城首页</span>
    </div>
    <div class="allPro">
      <span>全部商品</span>
    </div>
    <div class="category">
      <span>分类</span>
    </div>
    <div class="vipCenter">
      <span>会员中心</span>
    </div>
  </div>
</div>
