.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}

.icon {
  font-size: 0.9rem;
}

.clearfix {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  background-color: #fff;
  margin-top: .625rem;
  padding-bottom: .625rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tac {
  text-align: center;
}

/* 顶部样式 */
.header {
  width: 100%;
  height: 2.81rem;
  display: flex;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.header .location,
.header .title,
.header .searchBtn {
  height: 2.81rem;
  text-align: center;
  line-height: 2.81rem;
  vertical-align: baseline;
}

.header .location {
  flex: 2;
}

.header .title {
  flex: 6;
}

.header .title a {
  font-weight: bold;
  font-size: 22px;
  color: #ff4081;
}

.header .searchBtn {
  flex: 2;
}

.header .bigger {
  font-size: 1.38rem;
}

/* 排序筛选区域样式 */
.sort {
  height: 1.94rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 2.81rem;
  left: 0;
}

.sort div {
  flex: 1;
  text-align: center;
  line-height: 1.94rem;
}

.sort div:nth-child(odd) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* 店铺列表样式 */
/* .shop {
  margin-top: 5.5rem;
  background-color: #f7f7f7;
  list-style: none;
} */

/* .shoplist {
  width: 100%;
  margin-top: .5rem;
  background-color: #fff;
}

.shoplist .shopTitle {
  display: flex;
  padding: .8rem 0;
}

.shopTitle .shopName {
  padding-left: .3rem;
  flex: 3;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shopTitle .shopDistance {
  text-align: center;
  flex: 1;
}

.shoplist .shopIMG {
  display: flex;
}

.shoplist .shopIMG div {
  flex: 1;
  width: 50%;
  height: 7.5rem;
}

.shoplist .shopIMG img {
  display: block;
  width: 100%;
  height: 100%;
}

.shoplist .shopIMG .rImg {
  margin-left: .3125rem;
}

.shoplist .shopInfo {
  padding-left: .3125rem;
}

.shoplist .shopAddress {
  margin-top: .9375rem;
  padding-left: .4rem;
  font-size: .75rem;
}

.shoplist .consumption {
  display: flex;
}

.shoplist .consumption .comment {
  flex: 2;
  padding-left: .3125rem;
}

.shoplist .consumption .perConsump {
  flex: 1;
}

.shoplist .shopService {
  margin-top: 1rem;
}

.shoplist .shopService a {
  display: block;
  color: #FF4081;
  text-align: center;
}

.shoplist .shopInfo,
.shoplist .shopAddress,
.shoplist .consumption,
.shoplist .shopService {
  font-size: .75rem;
  line-height: 1.2rem;
} */

/* 商户列表样式改写 */
.store {
  margin-top: 5.5rem;
  background-color: #f7f7f7;
  list-style: none;
}

.store a {
  display: block;
  color: #000;
}

.ssoreList {
  width: 100%;
  margin-top: .5rem;
  background-color: #fff;
}

.storeList .storeTitle {
  display: flex;
  padding: .8rem 0;
}

.storeTitle .storeName {
  padding-left: .3rem;
  flex: 3;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.storeTitle .storeDistance {
  text-align: center;
  flex: 1;
}

.storeList .storeIMG {
  display: flex;
}

.storeList .storeIMG div {
  flex: 1;
  width: 50%;
  height: 7.5rem;
}

.storeList .storeIMG img {
  display: block;
  width: 100%;
  height: 100%;
}

.storeList .storeIMG .rImg {
  margin-left: .3125rem;
}

.storeList .storeInfo {
  padding-left: .3125rem;
}

.storeList .storeAddress {
  margin-top: .9375rem;
  padding-left: .4rem;
  font-size: .75rem;
}

.storeList .consumption {
  display: flex;
}

.storeList .consumption .comment {
  flex: 2;
  padding-left: .3125rem;
}

.storeList .consumption .perConsump {
  flex: 1;
}

.storeList .serviceOnsale {
  margin-top: 1rem;
}

.storeList .serviceOnsale a {
  display: block;
  color: #FF4081;
  text-align: center;
}

.storeList .storeInfo,
.storeList .storeAddress,
.storeList .consumption,
.storeList .serviceOnsale {
  font-size: .75rem;
  line-height: 1.2rem;
}

.serviceOnsale {
  color: #FF4081;
}
