<div class="container">
  <!-- 头部 -->
  <div class="header">
    <div class="location">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-dingwei"></use>
      </svg>
      <span>上海</span>
    </div>
    <div class="title">
      <a href="">Style VIP</a>
    </div>
    <div class="searchBtn">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-ziyuan"></use>
      </svg>
    </div>
  </div>
  <!-- 筛选功能 -->
  <div class="sort">
    <div class="sortDefault">默认
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="">距离
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="">价格
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg></div>
    <div class="">筛选
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg></div>
  </div>


  <!-- 商铺列表 -->
  <div class="shop">
    <div class="shoplist">
      <div class="shopTitle">
        <div class="shopName">
          <span>La Môd 资生堂美容美发概念店·大中华店</span>
        </div>
        <div class="shopDistance fr">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingwei1"></use>
          </svg>200m
        </div>
      </div>
      <div class="shopIMG">
        <div class="lImg">1</div>
        <div class="rImg">2</div>
      </div>
      <div class="shopInfo">
        <span>全球首家资生堂美容美发概念店，国内独家使用资生堂QI系列!</span>
      </div>
      <div class="shopAddress">
        <svg class="icon bigger" aria-hidden="true">
          <use xlink:href="#icon-dingwei"></use>
        </svg>
        上海市黄浦区马当路159号，13号线2号口直走200米
      </div>


      <div class="consumption">
        <div class="comment">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-pinglun"></use>
          </svg>
          点评数1266
        </div>
        <div class="perConsump">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-meiyuan8"></use>
          </svg>
          人均消费488
        </div>
      </div>


      <div class="shopService">
        <a href="">查看在售服务</a>
      </div>
    </div>
    <div class="shoplist">
      <div class="shopTitle">
        <div class="shopName">
          <span>La Môd 资生堂美容美发概念店·大中华店</span>
        </div>
        <div class="shopDistance fr">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingwei1"></use>
          </svg>200m
        </div>
      </div>
      <div class="shopIMG">
        <div class="lImg">1</div>
        <div class="rImg">2</div>
      </div>
      <div class="shopInfo">
        <span>全球首家资生堂美容美发概念店，国内独家使用资生堂QI系列!</span>
      </div>
      <div class="shopAddress">
        <svg class="icon bigger" aria-hidden="true">
          <use xlink:href="#icon-dingwei"></use>
        </svg>
        上海市黄浦区马当路159号，13号线2号口直走200米
      </div>


      <div class="consumption">
        <div class="comment">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-pinglun"></use>
          </svg>
          点评数1266
        </div>
        <div class="perConsump">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-meiyuan8"></use>
          </svg>
          人均消费488
        </div>
      </div>


      <div class="shopService">
        <a href="">查看在售服务</a>
      </div>
    </div>
  </div>

  <!-- 底部导航 -->
  <div class="footerNav">
    <div class="salon">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-licaijingxuan"></use>
      </svg>
      <p>精选沙龙</p>
    </div>
    <div class="works">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-tupian"></use>
      </svg>
      <p>潮流作品</p>
    </div>
    <div class="activity">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-shoucang"></use>
      </svg>
      <p>活动专区</p>
    </div>
    <div class="mall">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-icon-test"></use>
      </svg>
      <p>VIP商城</p>
    </div>
    <div class="mine">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-wode-F"></use>
      </svg>
      <p>我的</p>
    </div>
  </div>

  <!-- 返回顶部功能 -->
  <div class="goTop">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-4fanhuidingbubai"></use>
    </svg>
  </div>
</div>
