<div class="container">
  <!-- 头部 -->
  <div class="header">
    <div class="location">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-dingwei"></use>
      </svg>
      <span>上海</span>
    </div>
    <div class="title">
      <a href="">Style VIP</a>
    </div>
    <div class="searchBtn">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-ziyuan"></use>
      </svg>
    </div>
  </div>
  <!-- 筛选功能 -->
  <div class="sort">
    <div class="sortDefault">默认
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="">距离
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="">价格
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg></div>
    <div class="">筛选
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg></div>
  </div>


  <!-- 商铺列表 -->
  <div class="shoplist">
    <div class="shopinfo">
      <div class="shopName"></div>
      <div class="shopDistance"></div>
    </div>
  </div>



  <!-- 底部导航 -->
  <div class="footer">
    <div class="salon">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-licaijingxuan"></use>
      </svg>
      <p>精选沙龙</p>
    </div>
    <div class="works">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-tupian"></use>
      </svg>
      <p>潮流作品</p>
    </div>
    <div class="activity">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-shoucang"></use>
      </svg>
      <p>活动专区</p>
    </div>
    <div class="mall">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-icon-test"></use>
      </svg>
      <p>VIP商城</p>
    </div>
    <div class="mine">
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-wode-F"></use>
      </svg>
      <p>我的</p>
    </div>
  </div>

  <!-- 返回顶部功能 -->
  <div class="goTop">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-fanghuidingbu"></use>
    </svg>
  </div>
</div>
