<div class="container">
  <!-- 头部 -->
  <div class="header">
    <div class="location">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-dingwei"></use>
      </svg>
      <span>上海</span>
    </div>
    <div class="title"><a href="">Style VIP</a></div>
    <div class="searchBtn">
      <svg class="icon bigger" aria-hidden="true">
        <use xlink:href="#icon-ziyuan"></use>
      </svg>
    </div>
  </div>
  <!-- 筛选功能 -->
  <div class="sort">
    <div class="default" @click="sortDefault">
      默认
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="distance" @click="sortDistance">
      距离
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="price" @click="sortPrice">
      价格
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
    <div class="filter" @click="sortFilter">
      筛选
      <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-open"></use>
      </svg>
    </div>
  </div>

  <!-- 商铺列表 -->
  <!-- <div class="shop">
    <div class="shoplist" v-for="storeList">
      <div class="shopTitle">
        <div class="shopName">
          <span>La Môd 资生堂美容美发概念店·大中华店</span>
        </div>
        <div class="shopDistance fr">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingwei1"></use>
          </svg>200m
        </div>
      </div>
      <div class="shopIMG">
        <div class="lImg"><img src="@/assets/img/demo.jpg" /></div>
        <div class="rImg"><img src="@/assets/img/img.png" /></div>
      </div>
      <div class="shopInfo">
        <span>全球首家资生堂美容美发概念店，国内独家使用资生堂QI系列!</span>
      </div>
      <div class="shopAddress">
        <svg class="icon bigger" aria-hidden="true">
          <use xlink:href="#icon-dingwei"></use>
        </svg>
        上海市黄浦区马当路159号，13号线2号口直走200米
      </div>
      <div class="consumption">
        <div class="comment">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-pinglun"></use>
          </svg>
          点评数1266
        </div>
        <div class="perConsump">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-meiyuan8"></use>
          </svg>
          人均消费488
        </div>
      </div>

      <div class="shopService"><a href="">查看在售服务</a></div>
    </div>
    <div class="shoplist">
      <div class="shopTitle">
        <div class="shopName">
          <span>La Môd 资生堂美容美发概念店·大中华店</span>
        </div>
        <div class="shopDistance fr">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingwei1"></use>
          </svg>
          200m
        </div>
      </div>
      <div class="shopIMG">
        <div class="lImg"><img src="@/assets/img/img.png" /></div>
        <div class="rImg"><img src="@/assets/img/demo.jpg" /></div>
      </div>
      <div class="shopInfo">
        <span>全球首家资生堂美容美发概念店，国内独家使用资生堂QI系列!</span>
      </div>
      <div class="shopAddress">
        <svg class="icon bigger" aria-hidden="true">
          <use xlink:href="#icon-dingwei"></use>
        </svg>
        上海市黄浦区马当路159号，13号线2号口直走200米
      </div>

      <div class="consumption">
        <div class="comment">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-pinglun"></use>
          </svg>
          点评数1266
        </div>
        <div class="perConsump">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-meiyuan8"></use>
          </svg>
          人均消费488
        </div>
      </div>
      <div class="shopService"><a href="">查看在售服务</a></div>
    </div>

    <div class="shoplist">
      <div class="shopTitle">
        <div class="shopName">
          <span>La Môd 资生堂美容美发概念店·大中华店</span>
        </div>
        <div class="shopDistance fr">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-dingwei1"></use>
          </svg>
          200m
        </div>
      </div>
      <div class="shopIMG">
        <div class="lImg"><img src="@/assets/img/demo.jpg" /></div>
        <div class="rImg"><img src="@/assets/img/img.png" /></div>
      </div>
      <div class="shopInfo">
        <span>全球首家资生堂美容美发概念店，国内独家使用资生堂QI系列!</span>
      </div>
      <div class="shopAddress">
        <svg class="icon bigger" aria-hidden="true">
          <use xlink:href="#icon-dingwei"></use>
        </svg>
        上海市黄浦区马当路159号，13号线2号口直走200米
      </div>

      <div class="consumption">
        <div class="comment">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-pinglun"></use>
          </svg>
          点评数1266
        </div>
        <div class="perConsump">
          <svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-meiyuan8"></use>
          </svg>
          人均消费488
        </div>
      </div>

      <div class="shopService"><a href="">查看在售服务</a></div>
    </div>
  </div> -->
  <!-- 商铺列表改写 -->
  <ul class="store" :data="storeList" v-model="getStoreList">
    <li class="storeList" v-for="data in storeList.data">
      <a href="#">
        <div class="storeTitle">
          <div class="storeName">
            <span>{{ data.store_name }}</span>
          </div>
          <div class="storeDistance fr">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-dingwei1"></use>
            </svg>
            200m
          </div>
        </div>
        <div class="storeIMG">
          <div class="lImg"><img src="@/assets/img/demo.jpg" /></div>
          <div class="rImg"><img src="@/assets/img/img.png" /></div>
        </div>
        <div class="storeInfo">
          <span>{{ data.attribute2 }}</span>
        </div>
        <div class="storeAddress">
          <svg class="icon bigger" aria-hidden="true">
            <use xlink:href="#icon-dingwei"></use>
          </svg>
          {{data.province + data.city + data.district + data.address}}
        </div>

        <div class="consumption">
          <div class="comment">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-pinglun"></use>
            </svg>
            点评数 {{data.storezxcount}}
          </div>
          <div class="perConsump">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-meiyuan8"></use>
            </svg>
            人均消费{{data.avgprice}}
          </div>
        </div>
      </a>
      <a href="#" class="serviceOnsale tac" style="color:#FF4081;">查看在售服务</a>
    </li>
  </ul>
  <!-- 导入自定义全局组件：底部导航 -->
  <footernav></footernav>
  <!-- 返回顶部组件 -->
  <backtotop></backtotop>
</div>
